@import "scss/_color.scss";

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    height: 48px;
    width: fit-content;
    min-width: 160px;
    padding: 0 24px;
    border-radius: 8px;
    font-family: Montserrat !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.app__button--filled {
    background-color: $orange;
    color: $primary;
}

.app__button--outlined {
    background-color: transparent;
    border: 2px solid $orange;
    color: $orange;
} 