@import "scss/_color.scss";
$inactive: $text-primary;
$active: $primary;
$active-bg: $cta;

.sidebar__menu__menu-item {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 0 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: 15px;
    border-radius: 8px;

    &__icon,
    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        color: $inactive;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;

        path {
            fill: $inactive;
        }
    }
}

.active {
    background-color: $active-bg;

    .sidebar__menu__menu-item__icon,
    .sidebar__menu__menu-item__name {
        color: $active ;
        path {
            fill: $active;
        }
    }
}