$primary: #FFFFFF;
$secondary: #F9F6F5;
$cta: #FFB800;

$text-primary: #756A64;
$text-secondary:  #1E0D03;
$orange: #FF993B;
$blue: #27AEF9;
$gray: #F7F8FB;
$green: #03AC00;
$red: #FD5959;
$clay: #919DBA;
$textbox: #EDEDED;